doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="/stylesheets/bootstrap3.3.0.min.css", rel="stylesheet")
  body(onload='onLoad();', style="padding-bottom:10rem;")
    block content

    script( src='/javascripts/jquery1.11.1.min.js' )
    script( src='/javascripts/bootstrap3.3.1.min.js' )
